.places{
	margin-top: 20px;
	display: flex; /* Display horizontally with flexbox */
    justify-content: space-between; 
}
.places h1{

	font-size: 30px;
	text-align: left;
}
.places article
{
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border : 1px solid #FF5A5F;
	
}
.places article h2 {
font-size: 30px;
text-align: center;
}